<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PrometheeAlternativesProfiles/src/org/put/promethee/xmcda/AlternativesProfilesXMCDA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.put.promethee.xmcda.AlternativesProfilesXMCDA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i tests/in2 -o tests_tmp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PrometheeAlternativesProfiles"/>
</launchConfiguration>
