<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PreferenceDiscordance/src/pl/poznan/put/promethee/xmcda/PreferencesXMCDA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.poznan.put.promethee.xmcda.PreferencesXMCDA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--v3 -i tests/in1 -o tests/out1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PreferenceDiscordance"/>
</launchConfiguration>
