<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PROMETHEE_veto/src/pl/poznan/put/promethee/xmcda/VetoXMCDA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.poznan.put.promethee.xmcda.VetoXMCDA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--v3 -i tests/in6.v3 -o tests/out6.v3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PROMETHEE_veto"/>
</launchConfiguration>
