<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SRF_weights/src/pl/poznan/put/weights/xmcda/WeightsXMCDA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.poznan.put.weights.xmcda.WeightsXMCDA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--v2 -i tests/in1.v2 -o tests/out1.v2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SRF_weights"/>
</launchConfiguration>
