<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PrometheeOutrankingFlows/src/pl/poznan/put/promethee/xmcda/FlowsXMCDA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.poznan.put.promethee.xmcda.FlowsXMCDA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--v2 -i tests/in4.v2 -o tests/out4.v2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PrometheeOutrankingFlows"/>
</launchConfiguration>
